<%= render "shared/header" %>
<div class='main'>

<%# OUR PARKINGの使い方 %>
  <div class='how-contents'>
    <h2 class='how-title'>
      OUR PARKINGの利用方法
    </h2>
    <p class='how-rent'>
      駐車場を提供したい！
    </p>
    <p class='how-explain'>
      1. 無料会員登録
    </p>
    <p class='how-explain'>
      2. 提供したい駐車場を登録
    </p>
    <p class='how-explain'>
      3. 駐車場が利用された料金に応じた報酬を受け取る
    </p>

    <p class='how-lease'>
      駐車場を利用したい！
    </p>
    <p class='how-explain'>
      1. 無料会員登録
    </p>
    <p class='how-explain'>
      2. 利用したい駐車場を予約購入
    </p>
    <p class='how-explain'>
      3. 予約購入した駐車場を利用
    </p>
  </div>
  <%# OUR PARKINGの使い方 %>

  <%# 駐車場一覧 %>
  <div class='park-contents'>
    <%= link_to '駐車場一覧', "#", class: "subtitle" %>
    <ul class='park-lists'>

      <% @parks.each do |park| %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='park-img-content'>
        <%= link_to image_tag(park.image, class: "park-img"), park_path(park.id) %>

          <% if park.purchase != nil  %>
            <div class='reserved'>
              <span>予約済</span>
            </div>
          <% else %>
            <div class='recruitment'>
              <span>予約募集中</span>
            </div>
          <% end %>

        </div>
        <div class='park-info'>
          <h3 class='park-name'>
            <%= park.name %>
          </h3>
          <div class='prefecture'>
            <span><%= park.prefecture %><%= park.municipality %></span>
          </div>
          <div class='park-use-date'>
            <span><%= park.use_date %>
          </div>
          <div class='park-price'>
            <span>¥ <%= park.price %>円 / 日</span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
  <%# /駐車場一覧 %>
</div>
<div class='park-btn'>
  <%= link_to '駐車場登録', new_park_path, class: "park-btn-text" %>
</div>
<%= render "shared/footer" %>