<div class='footer'>
  <div class='footer-contents'>
    <div class='ourparking-details'>
      <h2 class='footer-content-head'>OUR PARKINGについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'OUT PARKINGとは？', "#", class: "footer-link" %></li>
        <li><%= link_to '駐車場を貸したい', "#", class: "footer-link" %></li>
        <li><%= link_to '駐車場を借りたい', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='ourparking-details'>
      <h2 class='footer-content-head'>OUR PAKINGの利用について</h2>
      <ul>
        <li><%= link_to 'よくある質問', "#", class: "footer-link" %></li>
        <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© OurParking</p>
</div>