<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("ourparking.png", class:"outparking-icon"), "/" %>

    <%= form_with(url: search_parks_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "地名・スポット名で検索", class: "input-box" %>
      <%= form.submit "検索", class: "search-button" %>
    <% end %>

  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '', "#", class: "a-list" %></li>
      <li><%= link_to '', "#", class: "b-list" %></li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li><%= link_to 'ゲストログイン(採用担当者様用)', users_guest_sign_in_path, method: :post, class: "login" %></li>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '無料会員登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>